<div class="table-responsive" style="margin-left: 50px; margin-right: 50px;" ng-controller="PlayerCtrl">
	<h2 class="sub-header">{{player.PlayerName}} | {{player.CharacterID}}</h2>
	<div class="col-md-4">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Player</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in on_player track by $index">
	          <td>{{item}}</td>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-md-4">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Equipped</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in on_toolbelt track by $index">
	          <td>{{item}}</td>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-md-4">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Backpack</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in backpack track by $index">
	          <td>{{item}}</td>
	        </tr>
	      </tbody>
	    </table>
	</div>

	<table class="table">
		<thead>
			<th>Datestamp</th>
			<th>Container</th>
			<th>Inventory</th>
		</thead>
		<tbody>
			<tr ng-repeat="state in inventoryHistory">
				<td>{{state.Datestamp}}</td>
				<td>{{state.Container}}</td>
				<td>{{state.Inventory}}</td>
				<td>
					<button type="button" class="btn btn-default" ng-click="restore(player.CharacterID, state.Datestamp)">Restore
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
